* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/banner/banner3.png");
  height: 808px;
  width: 1600px;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
}
.banner-text {
  width: 525px;
  text-align: end;
  margin-right: 200px;
}
.text-white {
  color: white;
}
.text-bold {
  font-size: 40px;
}
.text-center {
  text-align: center;
}
.header-text {
  font-size: 65px;
}
.primary-color {
  color: #005fac;
}
.btn-primary {
  margin-top: 30px;
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
}
.failure-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.person-img {
  width: 569px;
  height: 724px;
}
.failure {
  width: 416px;
  margin-left: 50px;
}
ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove left padding */
}
li::before {
  content: "✓"; /* Tick mark */
  color: green; /* Color of the tick mark */
  font-weight: bold; /* Optional: make the tick bold */
  display: inline-block; /* Make it inline with the text */
  width: 1em; /* Adjust width as necessary */
  margin-right: 0.5em; /* Space between tick and text */
}
li {
  line-height: 2.5;
}
.icon-img {
  width: 93px;
  height: 93px;
}
.plans {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  margin: 50px auto;
}
.positive-mindset {
  background: url("../images/gradient1.png"), url("../images/watch.png");
  height: 300px;
  width: 1140px;
  margin: 100px auto;
  display: flex;
  align-items: center;
}
.positive {
  margin-left: 50px;
  width: 460px;
}
